@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
    color: #ffffff;
}
.navbar {
    font-size: 1.3rem;
    border-bottom: 1px solid #3d2930;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-item {
    text-decoration: none;
    color: #ffffff;
    color: #ffffff !important;
    font-weight: 500;
    margin: 0 15px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;     
}

.logo {
        text-decoration: none;
        color: white;
         font-family: 'Orbitron', sans-serif;
         text-shadow:
        0 0 3px #ffffff,
        0 0 8px #4a4a4a,
        0 0 15px #606060;
        font-weight: 700;
        letter-spacing: 2px;

}
#span {
    color: #e6004c;
    text-shadow:
    0 0 4px #85012d,
    0 0 8px #781234,
    0 0 20px #781234;
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ff0055;
    transition: width 0.3s;
}


.nav-item:hover::after,
.nav-item.active::after {
    width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

#span {
  color: #ff0055;
  text-shadow: 0 0 10px #ff0055;
}

.navbar-nav .nav-link {
  color: #ccc;
  transition: color 0.3s, text-shadow 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ff0055;
  text-shadow: 0 0 10px #ff0055;
}






/* WELCOME SECTION */
.welcome {
  min-height: 60vh;
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 60px 0;
}

.hero-text-title h1, .hero-text-subtitle {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(135deg, #e8e8e8 10%, #ff0055 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-content.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left-side-hero {
  flex: 1;
  min-width: 320px;
}


.right-side-hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-wrapper {
  position: relative;
}

.img-hero {
  width: 450px;
  max-width: 100%;
  filter: drop-shadow(0 0 25px #ff0055);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.img-hero:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 40px #ff3388);
}


.buttons-hero {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.buttons-hero button {
    padding: 20px !important;
    background-color: #ff0055;
    border: 2px solid #ff0055;
    border-radius: 10px;
    font-weight: bold;
    color: #000000;
}
#contact-btn {
    background-color: #000000;
    border: 2px solid #ff0055;
    color: #ff0055;
}
@media (max-width: 992px) {
  .hero-content.container {
    flex-direction: column;
    text-align: center;
  }


  .right-side-hero {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .img-hero {
    display: none;
  }
}



/* section about me  */


.about-section {
  background-color: #070707;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.section-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 30px;


  background: linear-gradient(135deg, #e8e8e8 25%, #ff0055 50%, #e8e8e8);
  background-clip: text;
  -webkit-text-fill-color: transparent;


  text-shadow: 0 0 20px rgba(255, 0, 85, 0.4);
}

.section-text {
  max-width: 800px;
  margin: 0 auto 20px;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #dcdcdc;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, color 0.3s ease;
}


.section-text:hover {
  transform: scale(1.02);
  color: #ffffff;
}


.about-section::after {
  content: '';
  display: block;
  width: 120px;
  height: 3px;
  background: linear-gradient(90deg, #ff0055, #ff66a3, #c200ff);
  margin: 40px auto 0;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 85, 0.6);
}

#view-more {
    padding: 15px;
    background-color: #ff0055;
    box-shadow:
    0 0 5px #920f3b,
    0 0 10px #7e0b31,
    0 0 30px #600e29;
    border: 1px solid #ff0055;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}



/* SKILLS SECTION  */


.skills-section {
  background-color: #000000;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.section-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #ff0055, #ff66a3, #c200ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(255, 0, 85, 0.4);
}

.section-subtext {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.skill-card {
  background-color: #111;
  border-radius: 20px;
  padding: 30px 20px;
  width: 160px;
  transition: all 0.4s ease;
  box-shadow: 0 0 15px rgba(255, 0, 85, 0.1);
}

.skill-card i {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #ff0055;
  transition: color 0.3s, transform 0.3s;
}

.skill-card h4 {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #fff;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(255, 0, 85, 0.4),
              0 0 50px rgba(194, 0, 255, 0.3);
}

.skill-card:hover i {
  color: #ff66a3;
  transform: scale(1.1);
}






.testimonials {
  background: #0e0e0e;
  padding: 80px 0;
}

.section-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 2px;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 0, 85, 0.4);
  box-shadow: 0 0 10px rgba(77, 38, 51, 0.4);
  border-radius: 20px;
  padding: 30px;
  transition: all 0.4s ease;
  height: 100%;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px #260e16, 0 0 60px #2e0e12;
}

.testimonial-text {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  opacity: 0.9;
}

.testimonial-name {
  color: #ff0055;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 5px;
  text-shadow: 0 0 10px #ff0055;
}

.testimonial-role {
  color: #aaa;
  font-size: 0.9rem;
}

.button-arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow-right, #arrow-left {
  background: transparent;
  border: 2px solid #ff0055;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 1.4rem;
  color: #ff0055;
  transition: all 0.3s ease;
  /* box-shadow: 0 0 10px rgba(255, 0, 85, 0.4); */
}

#arrow-right:hover {
  background: #ff0055;
  color: #fff;
  box-shadow: 0 0 20px #54182c, 0 0 40px #39071e;
  transform: translateX(4px);
}

#arrow-left:hover {
  background-color: #ff0055;
  color: #fff;
   box-shadow: 0 0 20px #54182c, 0 0 40px #39071e;
   transform: translateX(-4px);
}


/* project section  */



.projects-section {
  background: #000000;
  color: #fff;
  padding: 100px 0;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.section-title .highlight {
  background: linear-gradient(90deg, #ff0055, #8f00ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subtitle {
  color: #aaa;
  font-size: 1.1rem;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 0, 85, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(255, 0, 85, 0.6);
}

.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 15, 25, 0.9);
  opacity: 0;
  transition: opacity 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-links .btn {
  margin: 5px;
  border-color: #ff0055;
  color: #ff0055;
  transition: all 0.3s ease;
}

.project-links .btn:hover {
  background: linear-gradient(90deg, #ff0055, #8f00ff);
  color: #fff;
  border: none;
}




/* section testimonial  */



.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

.slide {
  display: flex;
  transition: transform 0.6s ease;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 0, 85, 0.4);
  box-shadow: 0 0 10px rgba(77, 38, 51, 0.4);
  border-radius: 20px;
  padding: 30px;
  min-width: 300px;
  margin: 0 10px;
  color: #fff;
  flex-shrink: 0;
}

.arrow {
  background: transparent;
  border: 2px solid #ff0055;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover {
  background: #ff0055;
  color: #fff;
  box-shadow: 0 0 20px #54182c, 0 0 40px #39071e;
}



/* section contact  */



.contact-section {
    background-color: #000000;
    color: white;
}

.contact-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
}

.contact-title .highlight {
  color: #ff0055;
  text-shadow: 0 0 8px #6e0e2e, 0 0 20px #ff3388;
}

.contact-subtext {
  color: #b3b3b3;
  font-size: 1.1rem;
}

form input,
form textarea {
  border-radius: 8px;
  transition: all 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #ff0055;
  box-shadow: 0 0 10px #ff0055;
}

#send-btn {
  background-color: #ff0055;
  border: none;
  transition: all 0.3s ease;
}

#send-btn:hover {
  background-color: #ff3366;
  box-shadow: 0 0 15px #ff0055;
}

#contaxt-form {
  background-color: #1a1818 !important;
}

/* footer section  */


.footer {
  background: #000;
  color: #fff;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-subtitle {
  color: #aaa;
  font-size: 1rem;
}

.footer-social a {
  color: #ff0055;
  margin: 0 10px;
  font-size: 1.6rem;
  transition: color 0.3s, transform 0.3s;
}

.footer-social a:hover {
  color: #8f00ff;
  transform: scale(1.2);
}

.footer-copy {
  font-size: 0.9rem;
  color: #777;
  margin-top: 20px;
}

.footer .highlight {
  background: linear-gradient(90deg, #ff0055, #8f00ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* animation  */

.reveal-section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.reveal-section.active {
  opacity: 1;
  transform: translateY(0);
}

.fade-left {
  transform: translateX(-50px);
}

.fade-right {
  transform: translateX(50px);
}

.reveal-section.active.fade-left,
.reveal-section.active.fade-right {
  transform: translateX(0);
  opacity: 1;
}



#search-input {
  background: #111;
  border: 1px solid #ff0055;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

#search-input::placeholder {
  color: #aaa;
}
